#screenshot-display{
    margin-top:100px;
}

#placeholder{
    position:absolute;
}

#screenshot-image{
    width: 67vw;
    margin-top: 20px;
}

#loader{
    margin-top: 170px;
}

#empty-space{
    margin-top: 400px;
}

#tablet-view{
    display:none;
}

@media only screen and (max-width: 991px) {
    #loader{
        margin-top:28%;
    }
}

@media only screen and (max-width: 810px) { 
    #screenshot-image{
        margin-top:4.5vw;

    }
}

@media only screen and (max-width: 767px) {
    #desktop-view{
        display:none;
    }
    #tablet-view{
        display:block;
    }
}