#screenshot-display{
    margin-top:100px;
}

#placeholder{
    position:absolute;
}

#screenshot-image{
    margin-top: 20px;
}

#loader{
    margin-top: 170px;
}

#empty-space{
    margin-top: 400px;
}